Repository DFE-Digital/education-benchmarking-and-insights, pull requests merged in 2025-09, with the labels that each got.

#2777 Created `News` table and associated view
  core-infrastructure/src/db/Core.Database/Scripts/120-CreateNewsTable.sql
  core-infrastructure/src/db/Core.Database/Views/027-PublishedNews.sql
  test-data/News.csv
Labels: enhancement, database

#2865 docs: add authentication & authorisation documentation
  documentation/developers/14_Authentication-Authorisation.md
Labels: documentation

#2869 chore: remove FindOrganisation component tied to legacy search path
  front-end-components/src/components/suggesters/index.tsx
  front-end-components/src/components/suggesters/la-input.tsx
  front-end-components/src/components/suggesters/school-input.tsx
  front-end-components/src/components/suggesters/styles.scss
  front-end-components/src/components/suggesters/trust-input.tsx
  front-end-components/src/components/suggesters/types.tsx
  front-end-components/src/components/suggesters/utils.test.ts
  front-end-components/src/components/suggesters/utils.ts
  front-end-components/src/constants.tsx
  front-end-components/src/main.tsx
  front-end-components/src/views/find-organisation/index.tsx
  front-end-components/src/views/find-organisation/view.tsx
  front-end-components/src/views/index.tsx
Labels: javascript, refactor

#2874 Bumped `front-end` dependencies
  front-end-components/package-lock.json
  front-end-components/package.json
Labels: dependencies, javascript

#2873 Bumped `azurerm` Terraform provider
  core-infrastructure/terraform/README.md
  core-infrastructure/terraform/provider.tf
  platform/terraform/README.md
  platform/terraform/provider.tf
  prototype/terraform/README.md
  prototype/terraform/provider.tf
  web/terraform/README.md
  web/terraform/provider.tf
Labels: dependencies, terraform

#2878 Added 'News' link to site footer based off feature flag setting
  web/src/Web.App/Views/Shared/_Layout.cshtml
  web/tests/Web.Integration.Tests/Pages/WhenViewingLandingPage.cs
  web/tests/Web.Integration.Tests/Paths.cs
Labels: enhancement, dotnet, web

#2846 Doc/276810/update data source
  documentation/data/2_Sources.md
  documentation/guides/cfr-file-generation/8_DimSchoolWorkforceCensus.md
  documentation/guides/monthly-reporting/1_Monthly-Reporting.md
Labels: documentation

#2911 Bumped `front-end` to `1.2.15`
  web/src/Web.App/package-lock.json
  web/src/Web.App/package.json
Labels: dependencies, web

#2913 Updated revenue reserve commentary
  front-end-components/src/views/historic-data/partials/balance-section.tsx
Labels: enhancement, javascript, front-end-components

#2928 feat: remove DirectRevenueFinancingCosts as a cost across all schools
  data-pipeline/src/pipeline/config/__init__.py
  data-pipeline/src/pipeline/utils/database.py
  data-pipeline/src/pipeline/utils/message.py
  data-pipeline/tests/unit/pre_processing/test_aar.py
  data-pipeline/tests/unit/pre_processing/test_central_services.py
  data-pipeline/tests/unit/pre_processing/test_custom_data.py
  data-pipeline/tests/unit/pre_processing/test_total_per_unit.py
Labels: enhancement, python, data-pipeline

#2932 Bumped `BuildQualityChecks` ADO task to `10` for `web` and `platform`
  pipelines/platform/steps/run-unit-tests.yaml
  pipelines/web/steps/run-unit-tests.yaml
Labels: platform, web, build-pipeline

#2933 doc: Remove references to other costs direct revenue financing
  documentation/data/3_Models.md
  documentation/data/7_Cost-Categories.md
Labels: documentation, data-pipeline

#2945 chore: update insight income and expenditure api tests.
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureAverageAcrossComparatorSetActuals.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureAverageAcrossComparatorSetPerUnit.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureAverageAcrossComparatorSetPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureAverageAcrossComparatorSetPercentIncome.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureHistory.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureLASecondary.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureMultipleUrns.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureNationalAvgHistoryActualsPrimaryMaintained.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureNationalAvgHistoryActualsSecondaryAcademy.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureNationalAvgHistoryPerUnitPrimaryMaintained.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureNationalAvgHistoryPerUnitSpecialAcademy.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureNationalAvgHistoryPercentExpenditurePrimaryMaintained.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureNationalAvgHistoryPercentIncomePrimaryMaintained.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureNoCategoryActuals.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureTotalExpenditureActuals.json
  platform/tests/Platform.ApiTests/Data/SchoolExpenditureTrustSecondary.json
  platform/tests/Platform.ApiTests/Data/SchoolIncome.json
  platform/tests/Platform.ApiTests/Data/SchoolIncomeHistory.json
  platform/tests/Platform.ApiTests/Data/TrustExpenditureHistory.json
  platform/tests/Platform.ApiTests/Data/TrustExpenditureTotalExpenditureActuals.json
  platform/tests/Platform.ApiTests/Data/TrustExpenditureUtilitiesPerUnit.json
  platform/tests/Platform.ApiTests/Data/TrustExpenditureUtilitiesPercentExpenditure.json
  platform/tests/Platform.ApiTests/Data/TrustExpenditureUtilitiesPercentIncome.json
  platform/tests/Platform.ApiTests/Data/TrustIncomeHistory.json
  platform/tests/Platform.ApiTests/Features/InsightExpenditure.feature
  platform/tests/Platform.ApiTests/Features/InsightIncome.feature
  platform/tests/Platform.ApiTests/Steps/InsightExpenditureSteps.cs
  platform/tests/Platform.ApiTests/Steps/InsightIncomeSteps.cs
Labels: dotnet, platform

#2940 Tweak federation workforce aggregations
  data-pipeline/src/pipeline/pre_processing/cfr/calculations.py
  data-pipeline/tests/unit/pre_processing/test_maintained_schools.py
Labels: enhancement, python, data-pipeline

#2947 Storage account and Front Door origin/routing for static Web Assets
  web/terraform/README.md
  web/terraform/front-door.tf
  web/terraform/provider.tf
  web/terraform/storage.tf
Labels: enhancement, terraform, web

#2953 Web assets documentation
  documentation/developers/15_Web-Assets.md
Labels: documentation

#2955 Create dsg-funding.md to provide an overview of the DSG and related milestones
  documentation/sources/dsg-funding.md
Labels: documentation

#2961 docs: initial draft document for the ado workflow
  documentation/developers/16_Azure-DevOps-Workflow.md
Labels: documentation

#2956 doc: Add detail for use cases and ancillary data per data release. Include the join key for each ancillary source.
  documentation/data/1_Domain.md
Labels: documentation

#2742 Vectorise and parallelise RAG calculations
  data-pipeline/src/pipeline/comparator_sets/__init__.py
  data-pipeline/src/pipeline/comparator_sets/calculations.py
  data-pipeline/src/pipeline/comparator_sets/config.py
  data-pipeline/src/pipeline/comparator_sets/main.py
  data-pipeline/src/pipeline/comparator_sets/orchestrator.py
  data-pipeline/src/pipeline/main.py
  data-pipeline/src/pipeline/pre_processing/main.py
  data-pipeline/src/pipeline/rag/__init__.py
  data-pipeline/src/pipeline/rag/calculations.py
  data-pipeline/src/pipeline/rag/config.py
  data-pipeline/src/pipeline/rag/engine.py
  data-pipeline/src/pipeline/rag/loader.py
  data-pipeline/src/pipeline/rag/main.py
  data-pipeline/src/pipeline/rag/orchestrator.py
  data-pipeline/tests/unit/comparator_sets/conftest.py
  data-pipeline/tests/unit/comparator_sets/test_buildings.py
  data-pipeline/tests/unit/comparator_sets/test_calculations.py
  data-pipeline/tests/unit/comparator_sets/test_part_year.py
  data-pipeline/tests/unit/comparator_sets/test_pupils.py
  data-pipeline/tests/unit/comparator_sets/test_top_set_urns.py
  data-pipeline/tests/unit/rag/conftest.py
  data-pipeline/tests/unit/rag/test_calculations.py
  data-pipeline/tests/unit/rag/test_loader.py
  data-pipeline/tests/unit/rag/test_orchestrator.py
  data-pipeline/tests/unit/rag/test_percentile.py
  data-pipeline/tests/unit/rag/test_rag.py
  data-pipeline/tests/unit/rag/test_user_defined_comparator_sets.py
Labels: enhancement, python, data-pipeline

#2966 Add optional domain range to chart configuration
  platform/src/apis/Platform.Api.ChartRendering/src/assets/openapi.json
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/index.d.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/verticalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyCustomDomain.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyCustomDomainRequest.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Models/ChartRequest.cs
Labels: enhancement, javascript, dotnet, platform

#2970 docs: first draft for waf review process
  documentation/developers/17_Azure-Front-Door-Review.md
Labels: documentation

#2971 Account for BFR SOFA years which don't have Y3P1 and Y3P2
  data-pipeline/src/pipeline/input_schemas/__init__.py
  data-pipeline/src/pipeline/input_schemas/bfr.py
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
  data-pipeline/src/pipeline/pre_processing/bfr/loader.py
  data-pipeline/src/pipeline/pre_processing/bfr/trusts.py
Labels: bug, python, data-pipeline

#2973 feat: adds WAF exclusions
  core-infrastructure/terraform/README.md
  platform/terraform/README.md
  platform/terraform/modules/functions/README.md
  support-analytics/terraform/README.md
  web/terraform/README.md
  web/terraform/front-door.tf
Labels: terraform, web

#2977 fix imports
  data-pipeline/src/pipeline/pre_processing/bfr/config.py
Labels: bug, python, data-pipeline

#2972 Mini view model refactor to support reuse for Trust IT Spend
  web/src/Web.App/Controllers/SchoolComparisonItSpendController.cs
  web/src/Web.App/Domain/Charts/Dimensions.cs
  web/src/Web.App/Domain/Charts/Views.cs
  web/src/Web.App/ViewModels/BenchmarkingViewModelCostSubCategory.cs
  web/src/Web.App/ViewModels/SchoolComparisonItSpendViewModel.cs
  web/src/Web.App/ViewModels/SchoolComparisonSubCategoriesViewModel.cs
  web/src/Web.App/Views/SchoolComparisonItSpend/Index.cshtml
  web/src/Web.App/Views/SchoolComparisonItSpend/_ItSpendFilter.cshtml
  web/tests/Web.Integration.Tests/Pages/Schools/Comparison/WhenViewingComparisonItSpend.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolComparisonItSpendViewModel.cs
  web/tests/Web.Tests/ViewModels/GivenASchoolComparisonSubCategoriesViewModel.cs
Labels: enhancement, dotnet, web

#2968 Sample horizontal bar chart request using `groupedKeys` to apply custom bar styles
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeys.svg
  platform/tests/Platform.ApiTests/Data/HorizontalBarChartValidSingleCurrencyGroupedKeysRequest.json
  platform/tests/Platform.ApiTests/Features/ChartRenderingHorizontalBarChart.feature
  platform/tests/Platform.ApiTests/Models/PostHorizontalBarChartRequest.cs
  platform/tests/Platform.ApiTests/TestDataHelpers/TestDataProvider.cs
  web/src/Web.App/AssetSrc/scss/_variables.scss
  web/src/Web.App/AssetSrc/scss/main.scss
Labels: enhancement, javascript, dotnet, platform
