Repository DFE-Digital/education-benchmarking-and-insights, pull requests merged in 2025-10, with the labels that each got.

#2980 feat: create DB views for trust to trust IT spend benchmarking
  core-infrastructure/src/db/Core.Database/Views/028-ItSpendTrust.sql
Labels: enhancement, core-infrastructure

#3060 feat: wire up trust it spend api endpoints
  platform/src/abstractions/Platform.Sql/QueryBuilders/ItSpendTrustQueries.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/GetItSpendTrustForecastFunction.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/ItSpendFeature.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Parameters/ItSpendTrustForecastParameters.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Responses/ItSpendTrustForecastResponse.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Routes.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Services/ItSpendService.cs
  platform/src/apis/Platform.Api.Insight/Features/ItSpend/Validators/ItSpendTrustForecastParametersValidator.cs
  platform/tests/Platform.ApiTests/Data/ItSpendTrustForecast.json
  platform/tests/Platform.ApiTests/Data/ItSpendTrusts.json
  platform/tests/Platform.ApiTests/Features/InsightItSpend.feature
  platform/tests/Platform.ApiTests/Steps/InsightItSpendSteps.cs
  platform/tests/Platform.Insight.Tests/ItSpend/GetItSpendTrustForecastFunctionTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Parameters/ItSpendTrustForecastParametersTests.cs
  platform/tests/Platform.Insight.Tests/ItSpend/Validators/WhenItSpendTrustForecastParametersValidatorValidates.cs
  test-data/BudgetForecastReturn.csv
Labels: enhancement, dotnet, platform

#3063 feat: add download data to trust to trust it spend benchmarking page
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendFilter.cshtml
  web/tests/Web.Integration.Tests/BenchmarkingWebAppWebAppClient.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenRequestingComparisonItSpendDownload.cs
  web/tests/Web.Integration.Tests/Paths.cs
Labels: enhancement, dotnet, web

#3066 Added 'Save images' button to Trust IT Spend page when viewing as charts
  web/src/Web.App/Views/TrustComparisonItSpend/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenViewingComparisonItSpend.cs
Labels: enhancement, javascript, dotnet, web

#3067 A11y tests for chart/table views on Trust IT spending
  web/tests/Web.A11yTests/Pages/Schools/WhenViewingBenchmarkItSpending.cs
  web/tests/Web.A11yTests/Pages/Trust/WhenViewingBenchmarkItSpending.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenViewingComparisonItSpend.cs
Labels: enhancement, dotnet, web

#3068 Applied more aggressive label truncation on SSR horizontal bar chart if value is in all caps
  platform/src/apis/Platform.Api.ChartRendering/src/functions/horizontalBarChart/template.ts
  platform/src/apis/Platform.Api.ChartRendering/src/functions/utils.ts
  platform/src/apis/Platform.Api.ChartRendering/tests/functions/utils.test.ts
Labels: javascript, platform

#3071 feat: add download forecast data to trust it spend page
  web/src/Web.App/Controllers/TrustComparisonItSpendController.cs
  web/tests/Web.Integration.Tests/Pages/Trusts/Comparison/WhenRequestingComparisonItSpendDownload.cs
Labels: enhancement, dotnet, web

#3074 Modify bar colour for 'no tooltip/hover' SSR charts to match usual hover colour
  web/src/Web.App/AssetSrc/scss/main.scss
Labels: enhancement, web

#3075 Improved layout of 'forecast' Trust IT spend table
  web/src/Web.App/AssetSrc/scss/main.scss
  web/src/Web.App/Views/TrustComparisonItSpend/_ItSpendTable.cshtml
Labels: enhancement, dotnet, web

#3076 Added FBIS for Trusts link to Trust landing page
  web/src/Web.App/ViewModels/Components/ResourcesViewModel.cs
  web/src/Web.App/Views/Shared/Components/Resources/Default.cshtml
  web/src/Web.App/Views/Trust/Index.cshtml
  web/tests/Web.Integration.Tests/Pages/Trusts/WhenViewingHome.cs
Labels: enhancement, dotnet, web

#3084 fix: updates views for trust it spend
  core-infrastructure/src/db/Core.Database/Views/028-ItSpendTrust.sql
Labels: bug, core-infrastructure

#3083 Bumped `platform` dependencies
  platform/Directory.Packages.props
  platform/src/abstractions/Platform.Cache/packages.lock.json
  platform/src/abstractions/Platform.Domain/packages.lock.json
  platform/src/abstractions/Platform.Functions/packages.lock.json
  platform/src/abstractions/Platform.Json/packages.lock.json
  platform/src/abstractions/Platform.Messaging/packages.lock.json
  platform/src/abstractions/Platform.Search/packages.lock.json
  platform/src/abstractions/Platform.Sql/packages.lock.json
  platform/src/abstractions/Platform.Test/packages.lock.json
  platform/src/abstractions/tests/Platform.Cache.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Domain.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Functions.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Search.Tests/packages.lock.json
  platform/src/abstractions/tests/Platform.Sql.Tests/packages.lock.json
  platform/src/apis/Platform.Api.Benchmark/packages.lock.json
  platform/src/apis/Platform.Api.ChartRendering/package-lock.json
  platform/src/apis/Platform.Api.ChartRendering/package.json
  platform/src/apis/Platform.Api.Content/packages.lock.json
  platform/src/apis/Platform.Api.Establishment/packages.lock.json
  platform/src/apis/Platform.Api.Insight/packages.lock.json
  platform/src/apis/Platform.Api.LocalAuthorityFinances/packages.lock.json
  platform/src/apis/Platform.Api.NonFinancial/packages.lock.json
  platform/src/apis/Platform.MaintenanceTasks/packages.lock.json
  platform/src/apis/Platform.Orchestrator/packages.lock.json
  platform/src/search/Platform.Search.App/packages.lock.json
  platform/src/search/Platform.Search.Resources/packages.lock.json
  platform/tests/Platform.ApiTests/packages.lock.json
  platform/tests/Platform.Benchmark.Tests/packages.lock.json
  platform/tests/Platform.Content.Tests/packages.lock.json
  platform/tests/Platform.Establishment.Tests/packages.lock.json
  platform/tests/Platform.Insight.Tests/packages.lock.json
  platform/tests/Platform.LocalAuthorityFinances.Tests/packages.lock.json
  platform/tests/Platform.MaintenanceTasks.Tests/packages.lock.json
  platform/tests/Platform.NonFinancial.Tests/packages.lock.json
  platform/tests/Platform.Orchestrator.Tests/packages.lock.json
Labels: dependencies, javascript, dotnet, platform
